@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div class="row offset3">
    <select id="user-select">
        @foreach (var user in ViewBag.Users) {
            if (user.Id == ViewBag.selectedUser)
            {
                <option value="" selected="selected">@user.Name @user.Surname</option>
            }
            else
            { 
                <option value="~/Default/Index?userId=@user.Id">@user.Name @user.Surname</option>
            }
        }

    </select>

    <script>
        $("#user-select").change(function () {
            window.location = this.options[this.selectedIndex].value;
        });
    </script>
</div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    foreach (var question in ViewBag.Questions) {
        <div class="row offset3 span7 well">
            <strong>@question.id @question.Text</strong>

            <select class="pull-right">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    }
    
    <div class="row offset4 span6">
        <button class="btn btn-large btn-success pull-right">Прати</button>
    </div>

}