@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <style>
        body {
            margin: 3%;
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="span8 offset2">
        <h2>ХАРАКТЕРИСТИКА НА УЧЕНИКА</h2>
        <h3>@ViewBag.User.Name @ViewBag.User.Surname</h3>
        <h4>От XI<sup>A</sup> КЛАС, СМГ ,,ПАИСИЙ ХИЛЕНДАРСКИ"</h4>

        <br />
        <table class="table table-bordered table-condensed">
            <thead>
                <th>Параметри</th>
                <th>Равнище</th>
            </thead>

            <tbody>
                @foreach (var question in ViewBag.Questions)
                {
                    <tr>
                        <td><b>@question.Id.</b> @question.Text</td>
                        <td>@( (question.average + question.median) / 2)</td>
                    </tr>
                }

                <tr class="text-center">
                    <td colspan="2" style="text-align: center; height: 8em;">Получени награди и отличия (дарби и способности)</td>
                </tr>

                <tr class="text-center">
                    <td colspan="2" style="text-align: center; height: 8em;">Препоръки</td>
                </tr>
            </tbody>
        </table>

        <div class="pull-left">Дата: ____________</div>
        <div class="pull-right">Подпис на класния ръководител: ____________</div>
    </div>
</body>
</html>
